:root {
    --primary: #4EE1A0;
    --black: #151515;
    --dark-gray: #242424;
    --gray: #d9d9d9;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    background-color: var(--black);
    color: white;
    margin: 0;
}

/* Globales */
.container {
    max-width: 120rem;
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    color: var(--dark-gray);
    margin: 4rem 0;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h1,
h2,
h3 {
    margin: 2rem 0;
}

p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: medium;
    margin: 2rem 0;
}

img {
    max-width: 100%;
}

/* Utilities */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.darker-text {
    color: var(--gray);
}

.underline {
    text-decoration: underline #4EE1A0;
    text-underline-offset: 1rem;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem auto;
    height: 7.5rem;
}

.social-medias {
    display: flex;
    justify-content: space-between;
    width: 16rem;
    margin-top: 2rem;
}

.header__profile-picture {
    height: 39rem;
    width: 18.8rem;
    background-image: url('../images/image-profile-mobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.header__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__button a {
    transition: 400ms;
}

.contact__button a:hover {
    color: #4EE1A0;
    transition: 400ms;
}

.header-rings {
    position: absolute;
    left: -55%;
    top: 25%;
    z-index: -1;
    height: 12rem;
}

.header-circle {
    position: absolute;
    right: -18%;
    top: 45%;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 2rem;
        z-index: 1;
    }

    header {
        height: 66rem;
    }

    .header__profile-picture {
        height: 60rem;
        width: 32rem;
        background-image: url('../images/image-profile-tablet.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: -1%;
    }

    .header__text {
        padding-top: 10rem;
    }

    .header-rings {
        left: -20%;
        top: 8%;
    }

    .header-circle {
        right: 0;
        z-index: 1;
    }
}

@media(min-width: 768px) {
    .header-presentation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

/* technologies-stack */
.section__technologies-stack {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 768px){
    .section__technologies-stack{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
        text-align: left;
    }
}
@media (min-width: 768px){
    .section__technologies-stack{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Projects */
.projects-container__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-card{
    height: 40rem;
    width: 34rem;
    margin: 2rem 0 4rem 0;
}

.project-card a {
    transition: 400ms;
}

.project-card a:hover {
    color: var(--primary);
    transition: 400ms;
}

.projectc-card__info--main {
    margin: 2rem 0;
}

.projectc-card__info--main h3 {
    margin-bottom: 1rem;
}

.projectc-card__info--secondary {
    display: flex;
    gap: 3rem;
}

/* Contact Section */

footer{
    background-color: var(--dark-gray);
    height: auto;
    width: 100%;
    padding: 4rem 1.6rem 6rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 95%;
    color: white;
}

form input,
textarea {
    background-color: var(--dark-gray);
    border: none;
    margin-top: 2.5rem;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

form input {
    height: 4rem;
}

form textarea {
    height: 11rem;
}

.submit-form--button {
    background-color: var(--dark-gray);
    color: white;
    border: none;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    align-self: flex-end;
    margin: 3.2rem 0;
}

.footer-rings {
    position: absolute;
    left: -55%;
    margin-top: 22rem;
}

/* Vista tablet */
@media (min-width: 768px){
    h1{
        font-size: 7.2rem;
        line-height: 7rem;
    }

    h2 {
        font-size: 4.8rem;
    }
}